.item-ong{
    padding: 10px;
    margin: 10px;
}
label{
    color: #36506C;
    text-transform: uppercase;
}
b{
    color: #36506C;
    text-transform: uppercase;
}
h5{
    color: #36506C;
    text-transform: uppercase;
}
input{
    border-radius: 4px;
    border: 2px solid #36506C;
}
textarea{
    border-radius: 4px;
    border: 2px solid #36506C;
}
.botao{
    background-color: #00ADB5;
    text-transform: uppercase;
    border: 2px solid #00ADB5;
}
.botao-limpar{
    border: 2px solid #36506C;
}
.botao:hover{
    background-color: #80D0D4;
    text-transform: uppercase;
    border: 2px solid #36506C;
}
.botao:active{
    background-color: #005c61;
    text-transform: uppercase;
    border: 2px solid #005c61;
}
