<div class="container item-ong">
            <h3><b>Cadastre sua ONG agora!</b></h3>
        </div>
        <div class="alert alert-success row" role="alert" [hidden]="sucesso">
          ONG cadastrada com sucesso!
        </div>
        <div class="alert alert-danger row" role="alert" [hidden]="erro">
          Erro ao cadastrar ONG! Tente novamente mais tarde.
        </div>
        <div class="alert alert-warning row" role="alert" [hidden]="incompleto">
          Não foi possível cadastrar a ONG! Preencha os dados obrigatórios!
        </div>
        <form class="container" [formGroup]="form">
          <div class="row">
            <div class="mb-3 col-lg-6">
              <label class="form-label" for="name">Nome</label>
              <input type="text" class="form-control" formControlName="nome" id="nome" name="nome">
            </div>
            <div class="mb-3 col-lg-3">
              <label class="form-label">CNPJ</label>
              <input type="text" class="form-control" formControlName="cnpj" id="cnpj" name="cnpj">
            </div>
            <div class="mb-3 col-lg-3">
              <label class="form-label">Telefone</label>
              <input type="text" pattern="[0-9]{2}[0-9]{4-5}[0-9]{4}" class="form-control" formControlName="telefone" id="telefone" name="telefone">
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-lg-6">
              <label class="form-label">E-mail</label>
              <input type="text" class="form-control" formControlName="email" id="email" name="email">
            </div>
            <div class="mb-3 col-lg-6">
              <label class="form-label">Site</label>
              <input type="text" class="form-control" formControlName="site" id="site" name="site">
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-lg-2">
              <label class="form-label">Endereço</label>
              <input type="text" class="form-control" formControlName="endereco" id="endereco" name="endereco">
            </div>
            <div class="mb-3 col-lg-1">
              <label class="form-label">Número</label>
              <input type="number" class="form-control" formControlName="numero" id="numero" name="numero">
            </div>
            <div class="mb-3 col-lg-2">
              <label class="form-label">CEP</label>
              <input type="text" class="form-control" formControlName="cep" id="cep" name="cep">
            </div>
            <div class="mb-3 col-lg-2">
              <label class="form-label">Bairro</label>
              <input type="text" class="form-control" formControlName="bairro" id="bairro" name="bairro">
            </div>
            <div class="mb-3 col-lg-2">
              <label class="form-label">Cidade</label>
              <input type="text" class="form-control"  formControlName="cidade" id="cidade" name="cidade">
            </div>
            <div class="mb-3 col-lg-1">
              <label class="form-label">Estado</label>
              <input type="text" class="form-control"  formControlName="estado" id="estado" name="estado">
            </div>
            <div class="mb-3 col-lg-2">
              <label class="form-label">País</label>
              <input type="text" class="form-control" formControlName="pais" id="pais" name="pais">
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-lg-12">
              <label class="form-label">Descrição dos trabalhos e projetos da ONG</label>
              <textarea type="text" formControlName="descricao" id="descricao" name="descricao" class="form-control" rows="5"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col"><button type="submit" class="btn btn-primary col-lg-12" (click)="onSubmit()">Cadastrar</button></div>
            <div class="col"><button type="button" class="btn btn-danger col-lg-12" [routerLink]="['/']">Cancelar</button></div>
            <div class="col"><button type="reset" class="btn btn-light col-lg-12">Limpar</button></div>
          </div>
        </form>