<div class="container item-ong">
  <h3><b>Cadastre sua instituição agora!</b></h3>
</div>
<div class="alert alert-success row" role="alert" [hidden]="sucesso">
  Instituição cadastrada com sucesso!
</div>
<div class="alert alert-danger row" role="alert" [hidden]="erro">
  Erro ao cadastrar instituição! Tente novamente mais tarde.
</div>
<div class="alert alert-warning row" role="alert" [hidden]="incompleto">
  Não foi possível cadastrar a Iinstituição! Preencha os dados obrigatórios!
</div>
<!-- <form class="container" [formGroup]="form">
  <div class="row">
    <div class="mb-3 col-lg-6">
      <label class="form-label" for="name">Nome</label>
      <input
        type="text"
        class="form-control"
        formControlName="nome"
        id="nome"
        name="nome"
      />
    </div>
    <div class="mb-3 col-lg-3">
      <label class="form-label">CNPJ</label>
      <input
        type="text"
        class="form-control"
        formControlName="cnpj"
        id="cnpj"
        name="cnpj"
      />
    </div>
    <div class="mb-3 col-lg-3">
      <label class="form-label">Telefone</label>
      <input
        type="text"
        pattern="[0-9]{2}[0-9]{4-5}[0-9]{4}"
        class="form-control"
        formControlName="contato.telefone"
        id="telefone"
        name="contato.telefone"
      />
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-lg-6">
      <label class="form-label">E-mail</label>
      <input
        type="text"
        class="form-control"
        formControlName="contato.email"
        id="email"
        name="contato.email"
      />
    </div>
    <div class="mb-3 col-lg-6">
      <label class="form-label">Site</label>
      <input
        type="text"
        class="form-control"
        formControlName="contato.site"
        id="site"
        name="contato.site"
      />
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-lg-2">
      <label class="form-label">Endereço</label>
      <input
        type="text"
        class="form-control"
        formControlName="endereco"
        id="endereco"
        name="endereco"
      />
    </div>
    <div class="mb-3 col-lg-1">
      <label class="form-label">Número</label>
      <input
        type="number"
        class="form-control"
        formControlName="numero"
        id="numero"
        name="numero"
      />
    </div>
    <div class="mb-3 col-lg-2">
      <label class="form-label">CEP</label>
      <input
        type="text"
        class="form-control"
        formControlName="cep"
        id="cep"
        name="cep"
      />
    </div>
    <div class="mb-3 col-lg-2">
      <label class="form-label">Bairro</label>
      <input
        type="text"
        class="form-control"
        formControlName="bairro"
        id="bairro"
        name="bairro"
      />
    </div>
    <div class="mb-3 col-lg-2">
      <label class="form-label">Cidade</label>
      <input
        type="text"
        class="form-control"
        formControlName="cidade"
        id="cidade"
        name="cidade"
      />
    </div>
    <div class="mb-3 col-lg-1">
      <label class="form-label">Estado</label>
      <input
        type="text"
        class="form-control"
        formControlName="estado"
        id="estado"
        name="estado"
      />
    </div>
    <div class="mb-3 col-lg-2">
      <label class="form-label">País</label>
      <input
        type="text"
        class="form-control"
        formControlName="pais"
        id="pais"
        name="pais"
      />
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-lg-3">
      <label class="form-label">Agência bancária</label>
      <input
        type="text"
        class="form-control"
        formControlName="dadosBancarios.agencia"
        id="agencia"
        name="dadosBancarios.agencia"
      />
    </div>
    <div class="mb-3 col-lg-3">
      <label class="form-label">Conta bancária</label>
      <input
        type="text"
        class="form-control"
        formControlName="dadosBancarios.conta"
        id="conta"
        name="dadosBancarios.conta"
      />
    </div>
    <div class="mb-3 col-lg-3">
      <label class="form-label">Tipo de chave PIX</label>
      <input
        type="text"
        class="form-control"
        formControlName="dadosBancarios.tipo_pix"
        id="tipo_pix"
        name="dadosBancarios.tipo_pix"
      />
    </div>
    <div class="mb-3 col-lg-3">
      <label class="form-label">Chave PIX</label>
      <input
        type="text"
        class="form-control"
        formControlName="dadosBancarios.chave_pix"
        id="chave_pix"
        name="dadosBancarios.chave_pix"
      />
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-lg-12">
      <label class="form-label"
        >Descrição dos trabalhos e projetos da instituição</label
      >
      <textarea
        type="text"
        formControlName="descricao"
        id="descricao"
        name="descricao"
        class="form-control"
        rows="5"
      ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-4">
      <button
        type="submit"
        class="btn btn-primary col-lg-12 botao"
        (click)="onSubmit()"
      >
        Cadastrar
      </button>
    </div>
    <div class="col col-lg-4">
      <button
        type="button"
        class="btn btn-danger col-lg-12"
        [routerLink]="['/']"
      >
        Cancelar
      </button>
    </div>
    <div class="col col-lg-4">
      <button type="reset" class="btn btn-light col-lg-12 botao-limpar">
        Limpar
      </button>
    </div>
  </div>
</form> -->
<form class="container">
  <div class="row">
    <div class="mb-3 col-lg-6">
      <label class="form-label" for="name">Nome</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.nome"
        id="nome"
        name="nome"
      />
    </div>
    <div class="mb-3 col-lg-3">
      <label class="form-label">CNPJ</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.cnpj"
        id="cnpj"
        name="cnpj"
      />
    </div>
    <div class="mb-3 col-lg-3">
      <label class="form-label">Telefone</label>
      <input
        type="text"
        pattern="[0-9]{2}[0-9]{4-5}[0-9]{4}"
        class="form-control"
        [(ngModel)]="ong.contato.telefone"
        id="telefone"
        name="contato.telefone"
      />
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-lg-6">
      <label class="form-label">E-mail</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.contato.email"
        id="email"
        name="contato.email"
      />
    </div>
    <div class="mb-3 col-lg-6">
      <label class="form-label">Site</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.contato.site"
        id="site"
        name="contato.site"
      />
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-lg-2">
      <label class="form-label">Endereço</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.endereco"
        id="endereco"
        name="endereco"
      />
    </div>
    <div class="mb-3 col-lg-1">
      <label class="form-label">Número</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="ong.numero"
        id="numero"
        name="numero"
      />
    </div>
    <div class="mb-3 col-lg-2">
      <label class="form-label">CEP</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.cep"
        id="cep"
        name="cep"
      />
    </div>
    <div class="mb-3 col-lg-2">
      <label class="form-label">Bairro</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.bairro"
        id="bairro"
        name="bairro"
      />
    </div>
    <div class="mb-3 col-lg-2">
      <label class="form-label">Cidade</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.cidade"
        id="cidade"
        name="cidade"
      />
    </div>
    <div class="mb-3 col-lg-1">
      <label class="form-label">Estado</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.estado"
        id="estado"
        name="estado"
      />
    </div>
    <div class="mb-3 col-lg-2">
      <label class="form-label">País</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.pais"
        id="pais"
        name="pais"
      />
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-lg-3">
      <label class="form-label">Agência bancária</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.dadosBancarios.agencia"
        id="agencia"
        name="dadosBancarios.agencia"
      />
    </div>
    <div class="mb-3 col-lg-3">
      <label class="form-label">Conta bancária</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.dadosBancarios.conta"
        id="conta"
        name="dadosBancarios.conta"
      />
    </div>
    <div class="mb-3 col-lg-3">
      <label class="form-label">Tipo de chave PIX</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.dadosBancarios.tipo_pix"
        id="tipo_pix"
        name="dadosBancarios.tipo_pix"
      />
    </div>
    <div class="mb-3 col-lg-3">
      <label class="form-label">Chave PIX</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ong.dadosBancarios.chave_pix"
        id="chave_pix"
        name="dadosBancarios.chave_pix"
      />
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-lg-12">
      <label class="form-label"
        >Descrição dos trabalhos e projetos da instituição</label
      >
      <textarea
        type="text"
        [(ngModel)]="ong.descricao"
        id="descricao"
        name="descricao"
        class="form-control"
        rows="5"
      ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-4">
      <button
        type="submit"
        class="btn btn-primary col-lg-12 botao"
        (click)="onSubmit()"
      >
        Cadastrar
      </button>
    </div>
    <div class="col col-lg-4">
      <button
        type="button"
        class="btn btn-danger col-lg-12"
        [routerLink]="['/']"
      >
        Cancelar
      </button>
    </div>
    <div class="col col-lg-4">
      <button type="reset" class="btn btn-light col-lg-12 botao-limpar">
        Limpar
      </button>
    </div>
  </div>
</form>
