@media screen and (min-width: 541px) {
    .logo{
        padding: 20px 2px 2px 2px;
        margin: 2px;
        width: 280px;
        /* height: 103.28px; */
        position: static;
    }
    .logo-univesp{
        padding: 16px 2px 2px 2px;
        margin: 2px;
        width: 230px;
        /* height: 105.64px; */
    }
    .header{
        background-color: #3FC1C9;
        border-radius: 0.25cm;
        height: 120px;
        margin-top: 10px;
        margin-top: 20px;
    }
    .hidden{
        display: none;
    }
    ul li a{
        color: #36506C;
    }
    ul li a:hover{
        font-weight: bold;
        font-size: 14pt;
    }
    .links{
        padding: 20px 2px 2px 2px;
    }
}

@media screen and (max-width: 540px) {
    .logo{
        padding: 20px 2px 2px 2px;
        margin: 2px;
        width: 160px;
    }
    .logo-univesp{
        padding: 20px 2px 2px 2px;
        margin: 2px;
        width: 120px;
    }
    .header{
        background-color: #3FC1C9;
        border-radius: 0.25cm;
        width: 95%;
        margin-top: 10px;
    }
    div nav{
        margin-bottom: 0px;
    }
    .menu{
        margin-top: 100px;
        margin-bottom: 20px;
        width: 100%;
    }
    .menu-color{
        background-color: #3FC1C9;
    }
    .menu-text{
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: #36506C;
    }
    ul li a{
        color: #36506C;
    }
    ul li a:hover{
        font-weight: bold;
        font-size: 14pt;
    }
}