.logo{
    padding: 10px;
    margin: 10px;
}
.item-ong{
    padding: 10px;
    margin: 10px;
}
.item-text{
    margin: 2px
}
nav div{
    height: 150px;
}
.header{
    background-color: #3FC1C9;
    border-radius: 0.25cm 0.25cm 0cm 0cm;
}
ul li a{
    color: black;
}
ul li a:hover{
    font-weight: bold;
    font-size: 14pt;
}