.logo{
    padding: 10px 5px;
    margin: 10px;
}
.item-ong{
    padding: 10px;
    margin: 10px;
}
.item-text{
    margin: 2px
}
.item-text-colored{
    margin: 2px;
    background-color: #36506C;
    border-radius: 4px;
}
b{
    color: #36506C;
    text-transform: uppercase;
}
h5{
    color: #36506C;
    text-transform: uppercase;
}
.item-text-white{
    margin: 2px;
    background-color: white;
    border-radius: 4px;
}
b{
    color: #36506C;
    text-transform: uppercase;
}
h5{
    color: #36506C;
    text-transform: uppercase;
}
input[type=text]{
    text-transform: uppercase;
    border-radius: 4px;
    border: 2px solid #36506C;
}
button{
    background-color: #00ADB5;
    text-transform: uppercase;
    border: 2px solid #00ADB5;
}
button:hover{
    background-color: #80D0D4;
    text-transform: uppercase;
    border: 2px solid #80D0D4;
}
button:active{
    background-color: #005c61;
    text-transform: uppercase;
    border: 2px solid #005c61;
}