<h3><b>Pesquisar ONGs:</b></h3>
<form class="row item-ong" [formGroup]="form">
    <div class="mb-3 col-lg-4">
        <input type="text" placeholder="Nome" class="form-control" formControlName="nome">
    </div>
    <div class="mb-3 col-lg-4">
        <input type="text" placeholder="Cidade" class="form-control" formControlName="cidade">
    </div>
    <div class="mb-3 col-lg-4">
        <button type="submit" type="submit" class="btn btn-primary col-lg-12"  (click)="onSubmit()">Pesquisar</button>
    </div>
</form>
<div class="alert alert-warning row" role="alert" [hidden]="vazio">
    Nenhuma ONG encontrada!
</div>
<div class="row alert alert-danger" role="alert" [hidden]="erro">
    Erro ao buscar ONGs! Tente novamente mais tarde.
</div>
<h3><b>Últimas ONGs cadatradas:</b></h3> 
<div class="row card item-ong" aria-hidden="true" *ngFor="let ong of ongs">
    <h5 class="card-title">{{ong.nome}}</h5>
    <p class="card-text item-text"><b>CNPJ:</b> {{ong.cnpj}}</p>
    <p class="card-text item-text"><b>Endereço:</b> {{ong.endereco}}, {{ong.numero}} - <b>Bairro:</b> {{ong.bairro}} - <b>Cidade:</b> {{ong.cidade}} - {{ong.estado}}</p>
    <p class="card-text item-text"><b>CEP:</b> {{ong.cep}} - <b>País:</b> {{ong.pais}}</p>
    <p class="card-text item-text"><b>Telefone:</b> {{ong.telefone}} - <b>Email:</b> {{ong.email}} - <b>Site:</b> {{ong.site}}</p>
    <p class="card-text item-text"><b>Descrição dos trabalhos e projetos da ONG:</b> {{ong.descricao}}</p>
</div>