.logo{
    padding: 10px;
    margin: 10px;
}
.item-ong{
    padding: 10px;
    margin: 10px;
}
.item-text{
    margin: 2px
}
.item-text-colored{
    margin: 2px;
    background-color: #80D0D4;
    border-radius: 4px;
}
b{
    color: #00ADB5;
    text-transform: uppercase;
}
h5{
    color: #00ADB5;
    text-transform: uppercase;
}
.item-text-white{
    margin: 2px;
    background-color: white;
    border-radius: 4px;
}
b{
    color: #00ADB5;
    text-transform: uppercase;
}
h5{
    color: #00ADB5;
    text-transform: uppercase;
}