<div class="container item-ong">
  <h3><b>O que é o DIVULGA FÁCIL?</b></h3>
  <p>
    O projeto nasceu com a intenção de divulgar e potencializar a captação de
    recursos de instituições e Projetos que melhoram a vida da sociedade em sua
    volta. Temos que lembrar que as instituições possuem diversas naturezas e
    trabalhos e, para continuarem desempenhando esse serviço, necessitam de
    ajuda financeira. Visando isso, o DIVULGA FÁCIL veio para reunir as
    instituições com seus dados e incentivar a contribuição por parte da
    sociedade.
  </p>
</div>
<div class="container item-ong">
  <h3><b>Como contribuir com uma instituição?</b></h3>
  <p>
    Cada instituição cadastrada no DIVULGA FÁCIL possui dados para contato com a
    própria organização. Basta pesquisar pela instituição, localizar os dados e
    entrar em contato com os responsáveis. Cada instituição possui opções
    diferentes para contribuir com a iniciativa. <b><i>Contribua!</i></b>
  </p>
</div>
<div class="container item-ong">
  <h3><b>Como posso cadastrar a minha instituição?</b></h3>
  <p>
    Basta clicar em <b>Cadastrar instituição</b>, preencher os dados e salvar.
    Após isto, sua instituição estará disponível no sistema para ser consultado
    pelos usuários. Confie em nós, essa ferramenta pode ajudar o seu projeto a
    melhorar vidas!
  </p>
</div>
<div class="container item-ong">
  <h3><b>Últimas instituições cadatradas:</b></h3>
  <div class="row card item-ong" aria-hidden="true" *ngFor="let ong of ongs">
    <h5 class="card-title item-text">{{ ong.nome }}</h5>
    <p class="card-text item-text"><b>CNPJ:</b> {{ ong.cnpj }}</p>
    <p class="card-text item-text">
      <b>Endereço:</b> {{ ong.endereco }}, {{ ong.numero }} - <b>Bairro:</b>
      {{ ong.bairro }} - <b>Cidade:</b> {{ ong.cidade }} - {{ ong.estado }}
    </p>
    <p class="card-text item-text">
      <b>CEP:</b> {{ ong.cep }} - <b>País:</b> {{ ong.pais }}
    </p>
    <p class="card-text item-text">
      <b>Telefone:</b> {{ ong.contato.telefone }} - <b>Email: </b>
      <a href="mailto:{{ ong.contato.email }}">{{ ong.contato.email }}</a> -
      <b>Site: </b>
      <a href="{{ ong.contato.site }}">{{ ong.contato.site }}</a>
    </p>
  </div>
</div>
